@media (max-width: 1370px){
  .wrapper{
    width: 100%;
  }
  body > .header .bot ul.menu > li{
    margin-left: 25px;
  }
  body > .footer .info .wrapper ul.menu li{
    margin: 0 10px;
  }
  body > .footer .info .wrapper ul.menu li{
    font-size: 14px;
  }
  body > .footer .info .wrapper{
    padding: 0 20px;
  }
  body > .donate .wrapper img{
    width: 300px;
  }
  body > .history .wrapper ul{
    justify-content: space-around;
  }
  body > .history .wrapper ul li{
    margin-bottom: 20px;
    margin-right: 0;
  }
  body .reports .wrapper{
    padding: 30px 100px
  }
  body .histories .wrapper{
    padding: 40px 10px;
    justify-content: space-around;
  }
  body .histories .wrapper .h{
    margin-right: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
  body .production .wrapper .content{
    justify-content: space-around;
  }
  body .production .wrapper .content li{
    margin-right: 10px;
    margin-left: 10px;
  }
  body .product .wrapper{
    padding: 0;
  }
  body .product .sameproducts .wrapper ul{
    padding: 0 10px;
    justify-content: space-around;
  }
  body .product .sameproducts .wrapper ul li{
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
  body .search .wrapper{
    padding: 30px 20px;
  }
}

@media (max-width: 1280px){
  body > .header .bot ul.menu > li{
    margin-left: 10px;
  }
  body > .header .bot ul.menu{
    font-size: 14px;
  }
  body > .donate .wrapper{
    padding: 0 20px;
  }
  body > .donate .wrapper form{
    padding-left: 0;
  }
  body > .donate .wrapper img{
    width: 200px;
  }
  body > .donate .wrapper form .srch{
    width: 250px;
  }
  body > .donate .wrapper form .srch input[type="text"]{
    height: 50px;
    font-size: 40px;
  }
  body > .donate .wrapper form .srch button{
    width: 40px;
    height: 40px;
  }
  body > .donate .wrapper form p{
    width: 310px;
  }
  body > .maifest .wrapper{
    padding: 50px 30px;
  }
  body .historyinner .popupgalery .controls{
    width: 100%;
  }
  body .historyinner .popupgalery #popupcarousel{
    width: 100%;
  }
  body .historyinner{
    margin: 50px 0;
  }
}

@media (max-width: 1180px){
  body > .header{
    height: 130px;
  }
  body > .footer .info .wrapper .address{
    width: 100%;
    font-size: 15px;
    text-align: center;
  }
  body > .footer .info .wrapper .address li{
    padding-left: 0;
  }
  body > .footer .info .wrapper .address li i{
    position: static;
  }
  body > .footer .info .wrapper ul.menu{
    width: calc(100% - 50px);
    justify-content: center;
  }
  body > .donate .wrapper img{
    display: none;
  }
  body > .donate .wrapper form{
    width: 100%;
    justify-content: center;
  }
  body > .maifest .wrapper{
    padding: 20px 10px;
  }
  body > .bigbanner{
    background-image: none;
    height: 500px;
  }
  body > .bigbanner .wrapper{
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  body > .bigbanner .wrapper h2{
    width: 100%;
    text-align: center;
  }
  body > .bigbanner .wrapper h3{
    width: 100%;
    text-align: center;
  }
  .ikonka{
    display: none;
  }
  body > .maifest .wrapper ul li{
    margin: 30px 0!important;
  }
  body > .products .wrapper{
    padding: 30px 0;
  }
  body > .products .wrapper .carousel #productSlider{
    width: calc(100% - 30px);
    margin: auto;
  }
  body > .forbeneficiars .wrapper .txt{
    padding: 30px 50px;
  }
  body .reports .wrapper{
    padding: 30px 40px;
  }
}

@media (max-width: 1024px){
  body > .header{
    padding: 10px;
    height: 80px;
  }
  body > .header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body > .header #responsivemenu{
    display: block;
    font-size: 30px;
  }
  body > .header .top{
    display: none;
  }
  body > .header .bot ul.menu{
    display: none;
  }
  body > .header .bot{
    margin-top: 0;
  }
  body .reports .wrapper{
    padding: 20px 10px;
  }
}

@media (max-width: 900px){
  body > .donate .wrapper form span{
    font-size: 25px;
  }
  body > .donate .wrapper form p{
    width: 100%;
    text-align: center;
  }
  body > .donate .wrapper form{
    flex-direction: column;
    align-items: center;
  }
  body > .donate .wrapper form .srch{
    margin: 20px 0;
  }
  body > .maifest .wrapper ul li div{
    display: block;
  }
  body > .maifest .wrapper ul li div h2{
    text-align: center!important;
    margin: 0!important;
    font-size: 40px;
  }
  body > .maifest .wrapper ul li div h2 span{
    font-size: 30px;
  }
  body > .maifest .wrapper ul li div p{
    width: 100%;
    text-align: center!important;
    margin-top: 10px;
  }
  body .reports .wrapper ul.r li{
    width: 100%;
  }
  body .historyinner .wrapper .content .desc{
    width: 100%;
    padding-left: 0;
  }
  body .historyinner .wrapper .content .l{
    margin: auto;
    margin-top: 20px;
  }
  body .product .wrapper .content .desc{
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
  body .product .wrapper .content{
    padding: 0 10px;
  }
  body .product .wrapper .content .slider{
    margin: auto;
  }
}

@media (max-width: 768px){
  body > .footer .info .wrapper ul.menu{
    display: none;
  }
  body > .footer .info .wrapper .soc{
    margin: auto;
  }
  body > .footer .copy .wrapper{
    justify-content: center;
    text-align: center;
  }
  body > .bigbanner{
    height: 300px;
  }
  body > .bigbanner .wrapper h2{
    font-size: 100px;
    line-height: 100px;
  }
  body > .bigbanner .wrapper h3{
    font-size: 50px;
    line-height: auto;
  }
  body .reports .wrapper ul.r li div{
    padding-right: 60px;
    height: auto;
    min-height: 45px;
  }
  body .reports{
    margin: 50px 0;
  }
  body .faq .wrapper{
    padding: 40px 10px;
  }
  body .faq .wrapper ul{
    width: 100%;
  }
  body .faq .wrapper ul li .header{
    padding-right: 80px;
  }
  body .contact .wrapper form{
    width: 100%;
  }
  body .contact .wrapper{
    padding: 20px 10px;
  }
  body .contact .wrapper form .name{
    width: 100%;
    padding-right: 0px;
  }
  body .contact .wrapper form .theme{
    width: 100%;
    padding-left: 0;
    margin-top: 20px;
  }
  body .contact .wrapper ul.address li{
    text-align: center;
  }
  body .production .wrapper .filters i.fa{
    display: block;
    font-size: 30px;
  }
  body .production .wrapper .filters .cont{
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    padding: 20px;
    max-height: 300px;
    overflow: auto;
    display: none;
  }
  body .production .wrapper .filters .cont.open{
    display: block;
  }
  body .production .wrapper .filters ul:last-child{
    margin-bottom: 0;
  }
  body .production .wrapper{
    padding: 30px 10px;
  }
  body .production .wrapper .filters{
    width: 100%;
    position: relative;
  }
  body .production .wrapper .content{
    width: 100%;
    margin-top: 30px;
    padding-left: 0px;
  }
}

@media (max-width: 500px){
  body > .bigbanner{
    height: 200px;
  }
  body > .bigbanner .wrapper h2{
    font-size: 50px;
    line-height: 50px;
  }
  body > .bigbanner .wrapper h3{
    font-size: 30px;
    line-height: 30px;
  }
  body > .forbeneficiars .wrapper .txt{
    padding: 20px 0;
  }
  body > .forbeneficiars .wrapper h2{
    font-size: 20px;
  }
  body > .forbeneficiars .wrapper{
    padding: 30px 10px;
  }
  body .faq .wrapper ul li .dropdown{
    padding: 0 10px;
  }
  body .faq .wrapper ul li .header{
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body .product .wrapper .content .slider{
    width: 300px;
    height: 300px;
  }
  body .product .wrapper .content .slider #productInnerSlider .item{
    height: 300px;
  }
}
