extends layout.pug

block content
  .faq
    h2.title ხშირად დასმული შეკითხვები
    .wrapper
      ul#faq
        -for(i=0; i<6; i++)
          li
            .header რა არის სოლიდარობის ფონდის მიზანი და რა სახის დახმარებას გთავაზობთ ფონდი? <i class="fa fa-angle-down"></i>
            .dropdown
              .cont
                p საზღვარგარეთ ღეროვანი უჯრედების გადანერგვას მიელოდისპლაზიური სინდრომის, აპლასტიური ანემიისა და მწვავე ლეიკემიების რეციდივების შემთხვევაში; აღნიშნული მოიცავს თანადაფინანსებას ჯანდაცვის სამინისტროს ბაზაზე მოქმედი უწყებათაშორისი რეფერალური კომისიისა და ადგილობრივი ხელისუფლების სოციალური სამსახურების დაფინანსების გათვალისწინებით;
                p საზღვარგარეთ ონკოქირურგიული ოპერაციების თანადაფინანსებას, რომელთა განხორციელება საქართველოში ვერ ხერხდება (მაგალითად ოსტეოსარკომების - ძვლის სიმსივნეების შემთხვევაში);
                p საზღვარგარეთ სხივური თერაპიის თანადაფინანსებას ჰოჯკინის ლიმფომის დიაგნოზის მქონე პაციენტებისათვის ან სოლიდური სიმსივნეების შემთხვევაში მცირე წლოვანი ასაკის (7 წლამდე) ბავშვებისათვის;
