extends layout.pug

block content
  .bigbanner
    .wrapper(style="background-image: url('/images/child.png');")
      h2 379
      h3 დაფინანსებული ოჯახი
  .donate
    .wrapper
      form(action="donation.html")
        span დონაცია
        .srch
          input(type="text" placeholder="1₾")
          button(type="submit") <i class="fa fa-angle-right"></i>
        p სოლიდარობის ფონდში <span>ჩარიცხული თანხის 100%</span> ბენეფიციარების მკურნალობასა და დიაგნოსტიკას ხმარდება.
      img(src="images/100percent.png")
  .maifest
    .wrapper
      h2 სოლიდარობის მანიფესტი
      ul
        li 
          img(src="images/lari.png" class="lari")
          div
            h2 ერთი <span>საკმარისია</span>
            p ყოველი ბავშვისთვის ან ახალგაზრდისთვის, რომელიც დღეს სოლიდარობის ფონდშია ჩართული, ეს არის ბრძოლის იარაღი და იმედი იმისა, რომ ის აუცილებლად დაამარცხებს დაავადებას სტაბილური მიკრო-დონაციების საშუალებით, ფონდი თვეში 200-დან 240 ათასამდე ლარის მობილიზებას ახდენს და ამ თანხის 100% ბენეფიციარების მკურნალობასა და რეაბილიტაციას ხმარდება
        li 
          img(src="images/star.png" class="star")
          div
            h2 ერთი <span>მნიშვნელოვანია</span>
            p ამ ბრძოლაში არც ერთი ბავშვი და ახალგაზრდა არ რჩება თანადგომისა და დახმარებისა გარეშე. დაარსებიდან დღემდე ერთიანი ძალებით ჩვენ 379 ადამიანის მკურნალობა დავაფინანსეთ
        li 
          img(src="images/flag.png" class="flag")
          div
            h2 ერთი <span>დასაწყისია</span>
            p დღეს სოლიდარობის ფონდში 100-მდე კერძო კომპანია, 700-ზე მეტი საჯარო უწყება და 200 000 ადამიანია ჩართული. ყოველი ერთით მეტი დონორი ჩვენ გვაძლიერებს
  .history
    h2 ისტორიები
    .wrapper
      -var history = [{name: 'ალექსანდრე ლორთქიფანიშვილი', img: 'images/asdasd.png'},{name: 'ალექსანდრე ლორთქიფანიშვილი', img: 'images/asdasd.png'},{name: 'ალექსანდრე ლორთქიფანიშვილი', img: 'images/asdasd.png'},{name: 'ალექსანდრე ლორთქიფანიშვილი', img: 'images/asdasd.png'},{name: 'ალექსანდრე ლორთქიფანიშვილი', img: 'images/asdasd.png'}]
      ul
        each item in history
          li
            .img(style="background-image: url('"+item.img+"')")
            h3
              a(href="/history")=item.name
      a(href="" class="more") სხვა ისტორიები
  .products
    .wrapper
      h2 პროდუქცია
      p ყოველი ერთი პროდუქტის შეძენით, შენ ეხმარები სოლიდარობის ფონდს
      .carousel
        button.prev <i class="fa fa-angle-left"></i>
        #productSlider.owl-carousel.owl-theme
          -var products = [{name: 'ბორჯომი',img: 'images/product.jpg',price: '1.20₾'},{name: 'თერმოჭიქა',img: 'images/product.jpg',price: '11₾'},{name: 'გულსაბნევი',img: 'images/product.jpg',price: '2₾'},{name: 'ჩანთა',img: 'images/product.jpg',price: '18₾'},{name: 'ბორჯომი',img: 'images/product.jpg',price: '1.20₾'}]
            each product in products
              .item
                .img(style="background-image: url('"+product.img+"')")
                a(href='')=product.name
                  span.price=product.price
        button.next <i class="fa fa-angle-right"></i>
      a.more(href="") მეტი პროდუქცია
    //- .forbeneficiars
    //-   .wrapper
    //-     img(src="images/forma.png" class="forma")
    //-     img(src="images/piradoba.png" class="piradoba")
    //-     h2 ბენეფიციარებისთვის
    //-     a.ganacxadi(href='') <img src="images/gancxadeba.png"> განაცხადის შევსება
    //-     span.info * განაცხადს თან უნდა ერთვოდეს შემდეგი დოკუმენტები
    //-     ul
    //-       li
    //-         span.num 1
    //-         | ფორმა 100
    //-       li
    //-         span.num 2
    //-         | მშობლის ან კანონიერი წარმომადგენლის (ვინც ავსებს განცხადებას) <br> პირადობის დამადასტურებელი მოწმობის ასლი
    //-       li
    //-         span.num 3
    //-         | ბენეფიციარის პირადობის ან დაბადების მოწმობის ასლი
    //-       li
    //-         span.num 4
    //-         | თუ ბენეფიციარს ესაჭიროება საზღვარგარეთ მკურნალობა აუცილებელია განცხადებას თან დაერთოს<br> ექსპერტის ცნობა, რომლის მიხედვითაც, აღნიშნული მკურნალობა საქართველოში არ ტარდება<br> ან რეკომენდირებულია ჩატარდეს საზღვარგარეთ
    //-       li
    //-         span.num 5
    //-         | იგივე წესი მოქმედებს დიაგნოსტიკასთან დაკავშირებით. ექსპერტული დასკვნისთვის მიდიან ჯანდაცვის სამინისტროში,<br> საიდანაც ამისამართებენ ექსპერტთან, რომელმაც უნდა დაწეროს დასკვნა.

  .forbeneficiars
    .wrapper
      img(src="images/forma.png" class="forma")
      img(src="images/piradoba.png" class="piradoba")
      h2 სოლიდარობის ფონდის შესახებ
      .txt ააიპ ,,საქართველოს სოლიდარობის ფონდს“ საქართველოს პრემიერ-მინისტრის ინიციატივითა და საქართველოს მთავრობის  2014 წ. 9 ივნისის დადგენილებით შეიქმნა. <br><br> ფონდის მიზანია საზოგადოების, კერძო სექტორისა და სახელმწიფოს თანამონაწილეობით, 22 წლამდე, ონკოლოგიური დიაგნოზის მქონე ყველა ბავშვისა და ახალგაზრდის დახმარება.<br><br> ფინანსური რესურსების მობილიზებას ფონდი უზრუნველყოფს სოლიდარობის პრინციპით, ნებაყოფლობითი, მცირე დონაციებით (სტაბილური მიკრო-დონაცია ხელფასიდან) და ერთჯერადი დონაციებით. <br><br> სოლიდარობის ფონდში ჩარიცხული თანხის 100% ბენეფიციარების მკურნალობასა და დიაგნოსტიკას ხმარდება. ფონდის ადმინისტრაციული ხარჯი სახელმწიფოს მიერ იფარება. <br><br> ფონდის საქმიანობის მაქსიმალური გამჭირვალობისათვის ფონდის მმართველობას ახორციელებს წარმომადგენლობითი სამეთვალყურეო საბჭო, მუდმივმოქმედი კომისია და ექსპერტთა ჯგუფი. ფონდი ყოველთვიურად აქვეყნებს საქმიანობის ამსახველ  პერიოდულ ანგარიშს, რომელიც საჯაროდ  ხელმისაწვდომია.
