extends layout.pug

block content
  .search
    h2.title ძიების შედეგები
    .wrapper
      p საძიებო სიტყვა <span class="srchpattern">დაფინანსებული</span>
      .found მოიძებნა 17 რეზულტატი
      -for(i=0; i<4; i++)
        p ... ვაცხადებ ნებაყოფლობით, ზემოთ აღნიშნული <span class="srchpattern">დაფინანსებული</span> თანხის ყოველთვიურად გადარიცხვაზე ,,საქართველოს სოლიდარობის ფონდში“. ჩემთვის გასაგებია და მისაღები ...
